@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
li, a, button {
  color: #edf0f1;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
}

header {
  background: #24252A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5%;
}

header .logo {
  letter-spacing: 5px;
  font-size: 20px;
  cursor: pointer;
  color: #e2e2e2;
}

header .search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 20%;
}

header .search i {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateX(-5%) translateY(-50%);
          transform: translateX(-5%) translateY(-50%);
  color: #f1f1f1;
}

header .search .search-input {
  padding: 0 0 0 48px;
  height: 35px;
  width: 400px;
  border-radius: 5px;
  outline: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #24252A;
  color: #595f6e;
  border: none;
  border-bottom: 1px solid #5fa8d3;
}

header nav {
  width: 60%;
}

header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .nav-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

header .nav-links li a:hover {
  color: #0088a9;
}

header .nav-links li a span {
  margin: 0 4px;
}

header .nav-links li a img {
  width: 23px;
  height: 23px;
}

header .nav-links .active a {
  color: #0088a9;
}

header .burger {
  cursor: pointer;
  display: none;
}

header .burger div {
  width: 25px;
  height: 3px;
  background: #e2e2e2;
  margin: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 798px) {
  body {
    overflow: hidden;
  }
  header {
    height: 13vh;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }
  header .logo {
    position: absolute;
    top: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  header .search {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  header .nav-links {
    width: 30%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 13vh;
    right: 0;
    background: #24252A;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: -webkit-transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
    z-index: 100;
  }
  header .nav-links li {
    opacity: 0;
  }
  header .nav-fade {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  header .burger {
    display: block;
    margin: 0 2vh;
  }
  header .burger-toggle {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  header .burger-toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  header .burger-toggle .line2 {
    opacity: 0;
  }
  header .burger-toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}
/*# sourceMappingURL=Navbar.css.map */