.queue.active {
  max-height: 450px;
  opacity: 1;
}

.queue {
  width: 35%;
  height: 100%;
  position: fixed;
  bottom: 59px;
  right: 50px;
  z-index: 100;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  background: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
}

.queue-panel {
  height: 45px;
  padding: 0 24px;
  border-bottom: 1px solid #e5e5e5;
}

.queue-panel div {
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

.queue-panel div button.sc-ir {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 2px 11px 2px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  color: #333;
  line-height: 20px;
  white-space: nowrap;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;
  outline: none;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease 0s;
  transition: opacity 0.4s ease 0s;
}

.queue-panel div button.sc-ir:hover {
  opacity: 1;
}

.queue-title {
  width: 70%;
  font-size: 15px;
  color: #3eb4bf;
}

.queue-clear {
  width: 20%;
}

.queue-hide {
  width: 10%;
}

.queue-list {
  max-height: 390px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.queue-list::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 5px;
}

.queue-list::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 5px;
}

.queue-list .list-item.fade-out {
  -webkit-animation: clear 0.4s forwards;
          animation: clear 0.4s forwards;
}

.queue-list .list-item {
  height: 58px;
  position: relative;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px 5px 20px;
  margin-top: 10px;
}

.queue-list .list-item .lazyload-img {
  height: 100%;
  width: 40px;
}

.queue-list .list-item:hover {
  background-color: #f8f8f8;
}

.queue-list-info {
  width: calc(100% - 30%);
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 5px;
}

.queue-list-info a {
  color: #999;
  font-size: 13px;
}

.queue-list .queue-track-actions {
  width: 10%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
}

.queue-list .queue-track-actions i {
  margin-right: 15px;
  color: #999;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.queue-list .queue-track-actions i:hover {
  opacity: 1;
  color: #3eb4bf;
}

.queue-list .queue-track-artist {
  font-size: 12px;
  margin-top: 5px;
  color: #3eb4bf;
  cursor: pointer;
}

.queue-list .queue-track-title a {
  color: #888;
}

i {
  font-size: 17px;
  font-weight: 800;
}

i:hover {
  color: #3eb4bf;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@-webkit-keyframes clear {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes clear {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
/*# sourceMappingURL=Queue.css.map */