.user .container {
  width: 1026px;
  margin: 0 auto;
  position: relative;
}

.user .container .panel .panel-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user .container .panel .panel-title a {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.5px;
  line-height: 20px;
  margin: 20px 0;
  text-decoration: none;
  color: #333;
}

.user .container .panel .panel-title a:hover {
  color: #3eb4bf;
}

.user .container .panel .panel-title i {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.5px;
  margin: 0 10px;
}

.user .container .panel .panel-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.user .container .panel .panel-content .panel-card {
  width: 180px;
  min-height: 229px;
  height: 100%;
  margin: 0 10px 10px 0;
}

.user .container .panel .panel-content .panel-card .card-img {
  width: 100%;
  height: 180px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.user .container .panel .panel-content .panel-card .card-img:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.user .container .panel .panel-content .panel-card .card-img:hover .wrapped-img {
  opacity: 1;
  visibility: visible;
}

.user .container .panel .panel-content .panel-card .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.user .container .panel .panel-content .panel-card .card-img .wrapped-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3333335e;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.user .container .panel .panel-content .panel-card .card-img .wrapped-img a {
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.user .container .panel .panel-content .panel-card .card-img .wrapped-img a i {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-35%, -50%);
          transform: translate(-35%, -50%);
}

.user .container .panel .panel-content .panel-card .card-img .wrapped-img .icon-close {
  position: absolute;
  top: 5%;
  right: 5%;
}

.user .container .panel .panel-content .panel-card .card-img .wrapped-img .icon-close i {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 20px;
  color: #fff;
}

.user .container .panel .panel-content .panel-card .card-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(229px - 180px);
}

.user .container .panel .panel-content .panel-card .card-info p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 20px;
  cursor: pointer;
}

.user .container .panel .panel-content .panel-card .card-info p:hover {
  color: #3eb4bf;
}

.user .container .panel .panel-content .panel-card.first-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: linear-gradient(33deg, #5a1eae -7%, #ce267a 117%);
}

.user .container .panel .panel-content .panel-card.first-card i {
  font-size: 47px;
  color: #fff;
}

.user .container .panel .panel-content .panel-card.first-card p {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 20px;
  color: #fff;
}
/*# sourceMappingURL=User.css.map */